*.vfx
*.vfs0
*.512
*.dds
*.1024
*.split
*.dll
*.pdb
LLredux日本語化mod/tools/src/xlsx-text/packages/
2033redux日本語化mod/tools/src/xlsx-text/packages/System.IO.FileSystem.Primitives.4.0.1/lib/xamarintvos10/_._
